<div class="container">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h4 class="card-title text-center mb-5 fw-light fs-5">
            <b>Clientes</b>
          </h4>
          <form id="add-form" (ngSubmit)="f.form.valid && saveSessao(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input [(ngModel)]="cliente.nome_cliente" #model="ngModel" required name="nome" type="text" class="form-control"
                id="nome" placeholder="Insira o nome do cliente">
            </div>

            <div class="form-group">
              <label for="telefone">Telefone</label>
              <input [(ngModel)]="cliente.telefone_cliente" #model="ngModel" required name="telefone" type="text" class="form-control"
                     id="telefone" placeholder="Insira o telefone do cliente">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="cliente.email_cliente" #model="ngModel" required name="email" type="text" class="form-control"
                     id="email" placeholder="Insira o email do cliente">
            </div>
            <div class="form-group">
              <label for="cpf">Cpf</label>
              <input [(ngModel)]="cliente.cpf" #model="ngModel" required name="cpf" type="text" class="form-control"
                     id="cpf" placeholder="Insira o cpf do cliente">
            </div>

            <br>
            <button (click)="cadastrar()" class="btn btn-lg btn-success btn-block">CONFIRMAR</button>
            <br>
          </form>

        </div>
        <div class="card-body p-10 p-sm-9">
<!--          <h4 class="navbar navbar-light bg-light">-->
<!--            <input class="busca" #busca type="search" placeholder="Buscar Cliente" (keyup)="filtrar(busca.value)">-->
<!--          </h4>-->

<!--          <div class="search-bar"><input class="busca" #busca type="search" placeholder="Buscar Cliente" (input)="filtrar(busca.value)">-->
<!--          </div>-->
          <div class="navbar navbar-light bg-light">
            <h4 class="form-inline">
              <!--            <input class="busca" #busca type="search" placeholder="Buscar Livro" (keyup)="filtrar(busca.value)">-->
              <input class="form-control mr-sm-2" #busca type="search" placeholder="Pesquisar" (keyup)="filtrar(busca.value)">
            </h4>



          <div *ngIf="clientes.length === 0; else temClientes" class="vazio">
            <h4>nenhum cliente encontrado</h4>
          </div>
          <ng-template #temClientes class="tabela">
            <table class="table table-dark table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ID</th>
                  <th scope="col">CPF</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes; index as s">

                  <th scope="row">{{s+1}}</th>
                  <th>{{cliente.id_cli}}</th>
                  <th>{{cliente.cpf}}</th>
                  <th>{{cliente.nome_cliente}}</th>
                  <th>{{cliente.telefone_cliente}}</th>
                  <th>{{cliente.email_cliente}}</th>
                  <th> <button type="button" class="btn btn-warning editar" (click)="editSessao(cliente)">Editar</button><br></th>
                  <th> <button type='button' class="btn btn-danger " (click)="excluirSessao(cliente.id_cli)">Excluir</button><br></th>

              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
